<a href="https://colab.research.google.com/github/ajitpadole/SQL_Practice/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

What is SQL?


• SQL stands for Structured Query Language. It is used for storing and managing data in Relational Database Management System (RDBMS).

• It is a standard language for Relational Database System. It enables a user to create, read, updateand delete relational databases and tables.

• All the RDBMS like MySQL, Informix, Oracle, MSAccess and SQL Server use SQL as their standarddatabase language.

• SQL allows users to query the database in a number of ways, using English-like statements.

• SQL stands for Structured Query Language. It is used for storing and managing data in Relational Database Management System (RDBMS).

• It is a standard language for Relational DatabaseSystem. It enables a user to create, read, updateand delete relational databases and tables.

• All the RDBMS like MySQL, Informix, Oracle, MSAccess, pgsql and SQL Server use SQL as their standarddatabase language.

• SQL allows users to query the database in a number of ways, using English-like statements.

In [ ]:
# TOP 20 sql Qutions

 -> find the 3rd highest salary from the emp table.

ANS-      SELECT TOP 1 SALARY
                 FROM
               (
               SELECT TOP 3 SALARY FROM EMP ORDER BY SALARY DESC
			   ) A ORDER BY SALARY ASC

In [ ]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\admin\anaconda3\lib\site-packages (2.0.16)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy) (4.3.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import sqlalchemy as db

In [ ]:
pip install cx_Oracle

Collecting cx_Oracle
  Downloading cx_Oracle-8.3.0-cp39-cp39-win_amd64.whl (213 kB)
     -------------------------------------- 213.2/213.2 kB 1.2 MB/s eta 0:00:00
Installing collected packages: cx_Oracle
Successfully installed cx_Oracle-8.3.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
sqlalchemy.create_engine('oracle://hr:hr@localhost:1521/orcl')

Engine(oracle://hr:***@localhost:1521/orcl)

In [ ]:
%load_ext sql

In [ ]:
%sql oracle://hr:hr@localhost:1521/orcl

Traceback (most recent call last):
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 3288, in raw_connection
    return self.pool.connect()
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 452, in connect
    return _ConnectionFairy._checkout(self)
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 1267, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 716, in checkout
    rec = pool._do_get()
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\pool\impl.py", line 170, in _do_get
    self._dec_overflow()
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\pool\impl.py", line 167, in _do_get
    return self._create_connection()
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 393, in _create_connection
    return _ConnectionRecord(self)
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 678, in __init__
    self.__connect()
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 903, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 898, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\engine\create.py", line 637, in connect
    return dialect.connect(*cargs, **cparams)
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\engine\default.py", line 615, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
cx_Oracle.DatabaseError: DPI-1047: Cannot locate a 64-bit Oracle Client library: "The specified module could not be found". See https://cx-oracle.readthedocs.io/en/latest/user_guide/installation.html for help

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\admin\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\admin\anaconda3\lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "C:\Users\admin\anaconda3\lib\site-packages\sql\connection.py", line 55, in __init__
    self.internal_connection = engine.connect()
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 3264, in connect
    return self._connection_cls(self)
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 147, in __init__
    Connection._handle_dbapi_exception_noconnection(
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 2426, in _handle_dbapi_exception_noconnection
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 3288, in raw_connection
    return self.pool.connect()
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 452, in connect
    return _ConnectionFairy._checkout(self)
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 1267, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 716, in checkout
    rec = pool._do_get()
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\pool\impl.py", line 170, in _do_get
    self._dec_overflow()
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\pool\impl.py", line 167, in _do_get
    return self._create_connection()
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 393, in _create_connection
    return _ConnectionRecord(self)
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 678, in __init__
    self.__connect()
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 903, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 898, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\engine\create.py", line 637, in connect
    return dialect.connect(*cargs, **cparams)
  File "C:\Users\admin\anaconda3\lib\site-packages\sqlalchemy\engine\default.py", line 615, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
sqlalchemy.exc.DatabaseError: (cx_Oracle.DatabaseError) DPI-1047: Cannot locate a 64-bit Oracle Client library: "The specified module could not be found". See https://cx-oracle.readthedocs.io/en/latest/user_guide/installation.html for help
(Background on this error at: https://sqlalche.me/e/20/4xp6)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
# IMPORT THE SQALCHEMY LIBRARY's CREATE_ENGINE METHOD
from sqlalchemy import create_engine

# DEFINE THE DATABASE CREDENTIALS
user = 'root'
password = 'password'
host = '127.0.0.1'
port = 3306
database = 'GeeksForGeeks'

# PYTHON FUNCTION TO CONNECT TO THE MYSQL DATABASE AND
# RETURN THE SQLACHEMY ENGINE OBJECT
def get_connection():
	return create_engine(
		url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
			user, password, host, port, database
		)
	)


if __name__ == '__main__':

	try:

		# GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
		engine = get_connection()
		print(
			f"Connection to the {host} for user {user} created successfully.")
	except Exception as ex:
		print("Connection could not be made due to the following error: \n", ex)

Connection could not be made due to the following error:
 No module named 'pymysql'

### What are the usages of SQL?
SQL is responsible for maintaining the relational data and the data structures present in the database.

To execute queries against a database

To retrieve data from a database

To inserts records in a database

To updates records in a database

To delete records from a database

To create new databases

To create new tables in a database

To create views in a database

To perform complex operations on the database.

### What are the subsets of SQL?
Data definition language (DDL): It defines the data structure that consists of commands like Remane, CREATE, ALTER, DROP, Truncate etc.(DCART)

Data manipulation language (DML): It is used to manipulate existing data in the database. The commands in this category are SELECT, UPDATE, INSERT, etc.
Data control language (DCL): It controls access to the data stored in the database. The commands in this category include GRANT and REVOKE.
Transaction Control Language (TCL): It is used to deal with the transaction operations in the database. The commands in this category are COMMIT, ROLLBACK, SET TRANSACTION, SAVEPOINT, etc.

### What is the purpose of DDL Language?
DDL stands for Data definition language. It is the subset of a database that defines the data structure of the database when the database is created. For example, we can use the DDL commands to add, remove, or modify tables. It consists of the following commands: CREATE, ALTER and DELETE database objects such as schema, tables, indexes, view, sequence, etc.

create Table student(
Name varchar(25),
Roll_number int(20),
student_id int(10));

### What is the purpose of DML Language?
Data manipulation language makes the user able to retrieve and manipulate data in a relational database. The DML commands can only perform read-only operations on data. We can perform the following operations using DDL language:

Insert data into the database through the INSERT command.
Retrieve data from the database through the SELECT command.
Update data in the database through the UPDATE command.
Delete data from the database through the DELETE command.

insert into student values( "Ajit", 25, 55695236)

### What is the purpose of DCL Language?
Data control language allows users to control access and permission management to the database. It is the subset of a database, which decides that what part of the database should be accessed by which user at what point of time. It includes two commands, GRANT and REVOKE.

GRANT * ON mydb.Student TO javatpoint@localhsot;

### What are tables and fields in the database?
A table is a set of organized data in the form of rows and columns. It enables users to store and display records in the structure format. It is similar to worksheets in the spreadsheet application. Here rows refer to the tuples, representing the simple data item, and columns are the attribute of the data items present in a particular row. Columns can categorize as vertical, and Rows are horizontal.

Fields are the components to provide the structure for the table. It stores the same category of data in the same data type. A table contains a fixed number of columns but can have any number of rows known as the record. It is also called a column in the table of the database. It represents the attribute or characteristics of the entity in the record.

### What is a primary key?
A primary key is a field or the combination of fields that uniquely identify each record in the table. It is one of a special kind of unique key. If the column contains a primary key, it cannot be null or empty. A table can have duplicate columns, but it cannot have more than one primary key. It always stores unique values into a column. For example, the ROLL Number can be treated as the primary key for a student in the university or college.

#We can define a primary key into a student table as follows:
create table student(
Roll_number int(10) Primery key,
name varchar(25));

### What is a foreign key?
The foreign key is used to link one or more tables together. It is also known as the referencing key. A foreign key is specified as a key that is related to the primary key of another table. It means a foreign key field in one table refers to the primary key field of the other table. It identifies each row of another table uniquely that maintains the referential integrity. The primary key-foreign key relationship is a very crucial relationship as it maintains the ACID properties of the database sometimes. It also prevents actions that would destroy links between the child and parent tables.

CONSTRAINT constraint_name]
    FOREIGN KEY [foreign_key_name] (col_name, ...)
    REFERENCES parent_tbl_name (col_name,...)

### What is a unique key?
A unique key is a single or combination of fields that ensure all values stores in the column will be unique. It means a column cannot stores duplicate values. This key provides uniqueness for the column or set of columns. For example, the email addresses and roll numbers of student's tables should be unique. It can accept a null value but only one null value per column. It ensures the integrity of the column or group of columns to store different values into a table.

CREATE TABLE table_name(
    col1 datatype,
    col2 datatype UNIQUE,
    ...
);

### What is the difference between a primary key and a unique key?
The primary key and unique key both are essential constraints of the SQL. The main difference among them is that the primary key identifies each record in the table. In contrast, the unique key prevents duplicate entries in a column except for a NULL value. The following comparison chart explains it more clearly:

Primary Key	Unique Key
The primary key act as a unique identifier for each record in the table.	The unique key is also a unique identifier for records when the primary key is not present in the table.
We cannot store NULL values in the primary key column.	We can store NULL value in the unique key column, but only one NULL is allowed.
We cannot change or delete the primary key column values.	We can modify the unique key column values.

### What is a Database?
A database is an organized collection of data that is structured into tables, rows, columns, and indexes. It helps the user to find the relevant information frequently. It is an electronic system that makes data access, data manipulation, data retrieval, data storing, and data management very easy. Almost every organization uses the database for storing the data due to its easily accessible and high operational ease. The database provides perfect access to data and lets us perform required tasks.

The following are the common features of a database:

Manages large amounts of data
Accurate
Easy to update
Security
Data integrity
Easy to research data

### What is meant by DBMS?
DBMS stands for Database Management System. It is a software program that primarily functions as an interface between the database and the end-user. It provides us the power such as managing the data, the database engine, and the database schema to facilitate the organization and manipulation of data using a simple query in almost no time. It is like a File Manager that manages data in a database rather than saving it in file systems. Without the database management system, it would be far more difficult for the user to access the database's data.

Software
Data
Procedures
Database Languages
Query Processor
Database Manager
Database Engine
Reporting

### What are the different types of database management systems?
The database management systems can be categorized into several types. Some of the important lists are given below:

Hierarchical databases (DBMS)

Network databases (IDMS)

Relational databases (RDBMS)

Object-oriented databases
Document databases (Document DB)

Graph databases

ER model databases

NoSQL databases

### What is Normalization in a Database?
Normalization is used to minimize redundancy and dependency by organizing fields and table of a database.

There are some rules of database normalization, which is commonly known as Normal From, and they are:

First normal form(1NF)
Second normal form(2NF)
Third normal form(3NF)
Boyce-Codd normal form(BCNF)
Using these steps, the redundancy, anomalies, inconsistency of the data in the database can be removed.

### What is an inconsistent dependency?
An Inconsistent dependency refers to the difficulty of getting relevant data due to a missing or broken path to the data. It leads users to search the data in the wrong table, resulting in an error as an output.

### What are the different types of SQL operators?
Operators are the special keywords or special characters reserved for performing particular operations. They are also used in SQL queries. We can primarily use these operators within the WHERE clause of SQL commands. It's a part of the command to filters data based on the specified condition. The SQL operators can be categorized into the following types:

Arithmetic operators: These operators are used to perform mathematical operations on numerical data. The categories of this operators are addition (+), subtraction (-), multiplication (*), division (/), remainder/modulus (%), etc.

Logical operators: These operators evaluate the expressions and return their results in True or False. This operator includes ALL, AND, ANY, ISNULL, EXISTS, BETWEEN, IN, LIKE, NOT, OR, UNIQUE.

Comparison operators: These operators are used to perform comparisons of two values and check whether they are the same or not. It includes equal to (=), not equal to (!= or <>), less than (<), greater than (>), less than or equal to (<=), greater than or equal to (>=), not less than (!<), not greater than (!>), etc.

Bitwise operators: It is used to do bit manipulations between two expressions of integer type. It first performs conversion of integers into binary bits and then applied operators such as AND (& symbol), OR (|, ^), NOT (~), etc.

Compound operators: These operators perform operations on a variable before setting the variable's result to the operation's result. It includes Add equals (+=), subtract equals (-=), multiply equals (*=), divide equals (/=), modulo equals (%=), etc.

String operators: These operators are primarily used to perform concatenation and pattern matching of strings. It includes + (String concatenation), += (String concatenation assignment), % (Wildcard), [] (Character(s) matches), [^] (Character(s) not to match), _ (Wildcard match o

The primary use of a view is to implement the security mechanism. It is the searchable object where we can use a query to search the view as we use for the table. It only shows the data returned by the query that was declared when the view was created.

### What is a view in SQL?
A view is a database object that has no values. It is a virtual table that contains a subset of data within a table. It looks like an actual table containing rows and columns, but it takes less space because it is not present physically. It is operated similarly to the base table but does not contain any data of its own. Its name is always unique. A view can have data from one or more tables. If any changes occur in the underlying table, the same changes reflected in the views also.

The primary use of a view is to implement the security mechanism. It is the searchable object where we can use a query to search the view as we use for the table. It only shows the data returned by the query that was declared when the view was created.

We can create a view by using the following syntax:

CREATE VIEW view_name AS
SELECT column_lists FROM table_name
WHERE condition;

### What are the different types of indexes in SQL?

SQL indexes are nothing more than a technique of minimizing the query's cost. The higher the query's cost, the worse the query's performance. The following are the different types of Indexes supported in SQL:

Unique Index

Clustered Index

Non-Clustered Index

Bit-Map Index

Normal Index

Composite Index

B-Tree Index

Function-Based Index

### What are the differences between SQL, MySQL, and SQL Server?
SQL
1]SQL or Structured Query Language is useful for managing our relational databases. It is used to query and operate the database.
2]SQL first appeared in 1974.
3]SQL was developed by IBM Corporation.
4]SQL is a query language for managing databases.
5]SQL has no variables.
6]SQL is a programming language, so that it does not get any updates. Its commands are always fixed and remain the same.


MySQL
1]MySQL is the popular database management system used for managing the relational database. It is a fast, scalable, and easy-to-use database.
2]MySQL first appeared on May 23, 1995.
3]MySQL was developed by Oracle Corporation.
4]MySQL is database software that uses SQL language to conduct with the database.
5]MySQL can use variables constraints and data types
6]MySQL is software, so it gets frequent updation.

SQL server
1]SQL Server is an RDBMS database system mainly developed for the Windows system to store, retrieve, and access data requested by the developer.
2]SQL Server first appeared on April 24, 1989.
3]SQL Server was developed by Microsoft Company.
4]SQL Server is also a software that uses SQL language to conduct with the database.
5]SQL Server can use variables constraints and data types.
6]SQL Server is also software, so it gets frequent updation.

### SQL                                                                                 ###	PL/SQL
SQL is a database structured query language used to communicate
with relational databases.
It was developed by IBM Corporations and first appeared in 1974.	PL/SQL or Procedural Language/Structured Query Language is a                                                                     dialect of SQL used to enhance the capabilities of SQL.                                                                         Oracle Corporation developed it in the early 90's. It uses                                                                        SQL as its database language.
SQL is a declarative and data-oriented language.	                 PL/SQL is a procedural and application-oriented language.
SQL has no variables.	                                             PL/SQL can use variables constraints and data types.
SQL can execute only a single query at a time.	                      PL/SQL can execute a whole block of code at once.
SQL query can be embedded in PL/SQL.	                            PL/SQL cannot be embedded in SQL as SQL does not support any                                                                    programming language and keywords.
SQL can directly interact with the database server.	                  PL/SQL cannot directly interact with the database server.
SQL is like the source of data that we need to display.          	PL/SQL provides a platform where SQL data will be shown.