<a href="https://colab.research.google.com/github/ajitpadole/SQL_Practice/blob/main/SQL_coding_qutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Write an SQL query to fetch “FIRST_NAME” from the Worker table using the alias name <WORKER_NAME>.

Select FIRST_NAME AS WORKER_NAME from Worker;

### Write an SQL query to print the first three characters of  FIRST_NAME from the Worker table.

Select substring(FIRST_NAME,1,3) from Worker;

### Write an SQL query to print the FIRST_NAME from the Worker table after removing white spaces from the right side.

Select RTRIM(FIRST_NAME) from Worker;

### Write an SQL query that fetches the unique values of DEPARTMENT from the Worker table and prints its length.

Select distinct length(DEPARTMENT) from Worker;

###  Write an SQL query to print the FIRST_NAME from the Worker table after replacing ‘a’ with ‘A’.

Select REPLACE(FIRST_NAME,'a','A') from Worker;

 ### Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from the Worker table.

Select * from Worker where FIRST_NAME not in ('Vipul','Satish');

### Write an SQL query to print details of the Workers who joined in Feb’2014.

Select * from Worker where year(JOINING_DATE) = 2014 and month(JOINING_DATE) = 2;

### Write an SQL query to fetch the no. of workers for each department in descending order.

SELECT DEPARTMENT, count(WORKER_ID) No_Of_Workers
FROM worker
GROUP BY DEPARTMENT
ORDER BY No_Of_Workers DESC;